/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroTitle {
    font-size: 3.5rem;
    line-height: 1;
}

.heroSubtitle {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 600;
}

.heroContent {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 1rem;
}

.heroBanner {
    max-width: 600px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.5rem;
}

@media screen and (max-width: 1204px) {
    .heroBanner {
        max-width: none;
    }

    .heroContent {
        flex-direction: column;
    }
}

.demoVideo {
    border-color: var(--ifm-color-primary-lightest);
    background-color: var(--ifm-color-primary-lightest);
    border-style: solid;
    border-width: 1rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 1000px;
}